@charset "UTF-8";
body {
  background: #bebebe;
}

.nl-outer-container {
  display: block;
  margin: 3em auto;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  font-size: 18px;
  background: #bebebe;
}
.nl-outer-container .no-padding {
  padding: 0;
}
.nl-outer-container .container {
  max-width: 1200px;
  padding: 0;
  margin: auto;
}
.nl-outer-container .nl-inner-container {
  padding: 2em 50px;
  background: white;
  overflow: hidden;
  box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.2), -20px 0px 20px rgba(0, 0, 0, 0.1);
  color: black;
}
.nl-outer-container .nl-inner-container a {
  color: black;
}
.nl-outer-container .nl-inner-container li {
  list-style: none;
}

@media print {
  body,
.nl-outer-container .nl-inner-container {
    background: white;
  }

  .nl-outer-container .nl-inner-container {
    font-size: 18px;
    box-shadow: none;
  }

  .nl-outer-container {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .nl-outer-container {
    margin: 0 auto;
  }
}
.nl-page-header {
  margin: 0;
}
.nl-page-header .nl-portrait-figure {
  max-width: 200px;
  margin: 0 auto;
}
.nl-page-header .nl-portrait-figure img {
  max-width: 100%;
  max-height: 180px;
  position: relative;
  z-index: 2;
  filter: saturate(0);
}
.nl-page-header .nl-portrait-figure img:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 10px;
  right: 10px;
  border-radius: 50px 0 0px 0px;
  background: linear-gradient(170deg, rgba(184, 4, 160, 0.02) 0%, rgba(184, 4, 160, 0.05) 50%, transparent 80%);
  filter: blur(5px);
}
.nl-page-header .nl-portrait-figure:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -20px;
  bottom: 0px;
  left: -20px;
  right: 25px;
  border-radius: 50px 0 0px 0px;
  background: linear-gradient(170deg, rgba(184, 4, 160, 0.02) 0%, rgba(184, 4, 160, 0.05) 50%, transparent 80%);
  filter: blur(5px);
}
.nl-page-header .nl-cv-title-container {
  position: relative;
}
.nl-page-header .nl-cv-title-container .nl-cv-title {
  font-size: 2.2em;
  margin: 0 0 0;
  text-align: left;
  text-transform: uppercase;
}
.nl-page-header .nl-cv-title-container .nl-cv-title .nl-insersion {
  font-size: 0.6em;
  display: block;
  margin: 0;
  padding: 0 5px;
  line-height: 1.1em;
  color: white;
  background: #b804a0;
}
.nl-page-header .nl-cv-title-container .nl-cv-title .nl-main-title {
  color: #b804a0;
  display: block;
}
.nl-page-header .nl-owner-name {
  max-width: 250px;
  position: relative;
  font-size: 2.2em;
  line-height: 0.9em;
  letter-spacing: 1px;
  margin: 0 0 0.5em;
  color: black;
  filter: blur(0.5px);
  padding: 2px 0 0;
  display: inline-block;
  z-index: 2;
}
.nl-page-header .nl-civil-status {
  font-size: 0.95em;
  line-height: 1.3em;
  color: black;
}
.nl-page-header .nl-civil-status address {
  margin: 0 0 0.5em;
}
.nl-page-header .nl-civil-status address .nl-email a {
  color: inherit;
  font-weight: bold;
  font-style: italic;
}
.nl-page-header .nl-civil-status .nl-driving-licence {
  margin: 0 0 0.5em;
  text-transform: uppercase;
}
.nl-page-header .nl-civil-status .nl-website {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
}
.nl-page-header .nl-civil-status .nl-website .nl-label {
  color: #b804a0;
  letter-spacing: 1px;
}
.nl-page-header .nl-civil-status .nl-website .nl-link {
  display: inline-block;
  margin: 5px 0 0;
  opacity: 1;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  text-decoration: underline;
  color: black;
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  .nl-page-header .nl-cv-title {
    transform: none;
    margin: 2em 0 0;
    text-align: center;
  }
  .nl-page-header .nl-owner-name {
    transform: none;
    margin: 2em 0 0.5em;
  }
  .nl-page-header .nl-civil-status .nl-website .nl-link {
    margin-left: 0;
  }
}

.nl-professional-experiences h2,
.nl-education h2 {
  font-size: 2.2em;
  color: #b804a0;
  font-style: italic;
  margin: 0 0 0.5em;
  line-height: 0.9em;
}
.nl-professional-experiences .nl-experience-list,
.nl-professional-experiences .nl-education-list,
.nl-education .nl-experience-list,
.nl-education .nl-education-list {
  padding: 0;
  margin: 0 0 0;
}
.nl-professional-experiences .nl-experience-list .nl-education-item,
.nl-professional-experiences .nl-experience-list .nl-experience-item,
.nl-professional-experiences .nl-education-list .nl-education-item,
.nl-professional-experiences .nl-education-list .nl-experience-item,
.nl-education .nl-experience-list .nl-education-item,
.nl-education .nl-experience-list .nl-experience-item,
.nl-education .nl-education-list .nl-education-item,
.nl-education .nl-education-list .nl-experience-item {
  position: relative;
  margin: 0 0 10px;
  line-height: 1.1em;
  color: black;
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-date,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-date,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-date,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-date,
.nl-education .nl-experience-list .nl-education-item .nl-date,
.nl-education .nl-experience-list .nl-experience-item .nl-date,
.nl-education .nl-education-list .nl-education-item .nl-date,
.nl-education .nl-education-list .nl-experience-item .nl-date {
  font-weight: lighter;
  font-size: 0.9em;
  margin: 0 0 2px;
  color: white;
  background: #b804a0;
  display: inline-block;
  padding: 0 1px;
}
.nl-professional-experiences .nl-experience-list .nl-education-item h3,
.nl-professional-experiences .nl-experience-list .nl-experience-item h3,
.nl-professional-experiences .nl-education-list .nl-education-item h3,
.nl-professional-experiences .nl-education-list .nl-experience-item h3,
.nl-education .nl-experience-list .nl-education-item h3,
.nl-education .nl-experience-list .nl-experience-item h3,
.nl-education .nl-education-list .nl-education-item h3,
.nl-education .nl-education-list .nl-experience-item h3 {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 0.5em;
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-details-list,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-details-list,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-details-list,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-details-list,
.nl-education .nl-experience-list .nl-education-item .nl-details-list,
.nl-education .nl-experience-list .nl-experience-item .nl-details-list,
.nl-education .nl-education-list .nl-education-item .nl-details-list,
.nl-education .nl-education-list .nl-experience-item .nl-details-list {
  padding: 0;
  font-style: italic;
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-details-list .nl-detail-item,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-details-list .nl-detail-item,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-details-list .nl-detail-item,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-details-list .nl-detail-item,
.nl-education .nl-experience-list .nl-education-item .nl-details-list .nl-detail-item,
.nl-education .nl-experience-list .nl-experience-item .nl-details-list .nl-detail-item,
.nl-education .nl-education-list .nl-education-item .nl-details-list .nl-detail-item,
.nl-education .nl-education-list .nl-experience-item .nl-details-list .nl-detail-item {
  margin: 0 0 5px;
  font-size: 0.9em;
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-location,
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-school,
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-company,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-location,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-school,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-company,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-location,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-school,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-company,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-location,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-school,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-company,
.nl-education .nl-experience-list .nl-education-item .nl-location,
.nl-education .nl-experience-list .nl-education-item .nl-school,
.nl-education .nl-experience-list .nl-education-item .nl-company,
.nl-education .nl-experience-list .nl-experience-item .nl-location,
.nl-education .nl-experience-list .nl-experience-item .nl-school,
.nl-education .nl-experience-list .nl-experience-item .nl-company,
.nl-education .nl-education-list .nl-education-item .nl-location,
.nl-education .nl-education-list .nl-education-item .nl-school,
.nl-education .nl-education-list .nl-education-item .nl-company,
.nl-education .nl-education-list .nl-experience-item .nl-location,
.nl-education .nl-education-list .nl-experience-item .nl-school,
.nl-education .nl-education-list .nl-experience-item .nl-company {
  color: black;
  font-size: 0.9em;
  font-style: italic;
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-location,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-location,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-location,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-location,
.nl-education .nl-experience-list .nl-education-item .nl-location,
.nl-education .nl-experience-list .nl-experience-item .nl-location,
.nl-education .nl-education-list .nl-education-item .nl-location,
.nl-education .nl-education-list .nl-experience-item .nl-location {
  font-size: 0.8em;
  margin: 0;
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-location:before,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-location:before,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-location:before,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-location:before,
.nl-education .nl-experience-list .nl-education-item .nl-location:before,
.nl-education .nl-experience-list .nl-experience-item .nl-location:before,
.nl-education .nl-education-list .nl-education-item .nl-location:before,
.nl-education .nl-education-list .nl-experience-item .nl-location:before {
  content: "(";
}
.nl-professional-experiences .nl-experience-list .nl-education-item .nl-location:after,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-location:after,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-location:after,
.nl-professional-experiences .nl-education-list .nl-experience-item .nl-location:after,
.nl-education .nl-experience-list .nl-education-item .nl-location:after,
.nl-education .nl-experience-list .nl-experience-item .nl-location:after,
.nl-education .nl-education-list .nl-education-item .nl-location:after,
.nl-education .nl-education-list .nl-experience-item .nl-location:after {
  content: ")";
}
.nl-professional-experiences .nl-experience-list .nl-experience-item h3,
.nl-education .nl-experience-list .nl-experience-item h3 {
  font-size: 1em;
}
@media (max-width: 576px) {
  .nl-professional-experiences .nl-experience-list .nl-experience-item .nl-details-list,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-details-list,
.nl-education .nl-experience-list .nl-experience-item .nl-details-list,
.nl-education .nl-education-list .nl-education-item .nl-details-list {
    margin: 0 0 1.5em;
  }
  .nl-professional-experiences .nl-experience-list .nl-experience-item .nl-location,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-school,
.nl-professional-experiences .nl-experience-list .nl-experience-item .nl-company,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-location,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-school,
.nl-professional-experiences .nl-education-list .nl-education-item .nl-company,
.nl-education .nl-experience-list .nl-experience-item .nl-location,
.nl-education .nl-experience-list .nl-experience-item .nl-school,
.nl-education .nl-experience-list .nl-experience-item .nl-company,
.nl-education .nl-education-list .nl-education-item .nl-location,
.nl-education .nl-education-list .nl-education-item .nl-school,
.nl-education .nl-education-list .nl-education-item .nl-company {
    font-size: 0.8em;
    margin: 0 0 1em;
  }
}

.nl-hobbies {
  position: relative;
  margin: 5em 0 0;
}
.nl-hobbies:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 10px;
  right: 10px;
  border-radius: 50px 0 0px 0px;
  background: linear-gradient(170deg, rgba(184, 4, 160, 0.02) 0%, rgba(184, 4, 160, 0.05) 50%, transparent 80%);
  filter: blur(5px);
}
.nl-hobbies h2 {
  line-height: 1em;
  font-size: 1.6em;
  margin: 0 0 0.5em;
  letter-spacing: 3px;
  color: #b804a0;
  font-style: italic;
}
.nl-hobbies .nl-hobby-item {
  line-height: 1.1em;
}
.nl-hobbies .nl-hobby-item h3 {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 0.2em;
  color: #b804a0;
}
.nl-hobbies .nl-hobby-item h3:before {
  content: "› ";
  font-size: 1em;
  font-weight: bold;
}
.nl-hobbies .nl-hobby-item .nl-details-list {
  padding: 0 0 0 1em;
}
.nl-hobbies .nl-hobby-item .nl-details-list .nl-detail-item h4 {
  font-size: 0.9em;
  margin: 0 0 0.2em;
  font-style: italic;
}

.nl-skills {
  margin: -20px 0 2em;
}
.nl-skills h2 {
  text-align: center;
  font-size: 2.2em;
  color: #b804a0;
  font-style: italic;
  margin: 0 0 0.5em;
}
.nl-skills .nl-skill-item {
  line-height: 1.1em;
  margin: 0 0 1em;
  text-align: center;
}
.nl-skills .nl-skill-item h3 {
  font-size: 1.1em;
  padding: 0;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(184, 4, 160, 0.8);
}
.nl-skills .nl-skill-item .nl-details-list {
  padding: 0;
  position: relative;
}
.nl-skills .nl-skill-item .nl-details-list .nl-detail-item {
  padding: 0;
  margin: 0 0 0.6em;
}
.nl-skills .nl-skill-item .nl-details-list .nl-detail-item h4 {
  font-size: 1em;
  margin: 0;
}
.nl-skills .nl-skill-item .nl-details-list .nl-detail-item .nl-subdetails-list {
  padding: 0;
  margin: 0;
}
.nl-skills .nl-skill-item .nl-details-list .nl-detail-item .nl-subdetails-list .nl-subdetail-item {
  font-style: italic;
  position: relative;
  font-size: 0.8em;
}
.nl-skills .nl-frontend-skill-item .nl-details-list .nl-detail-item h4,
.nl-skills .nl-backend-skill-item .nl-details-list .nl-detail-item h4 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}
.nl-skills .nl-frontend-skill-item .nl-details-list .nl-detail-item .nl-subdetails-list .nl-subdetail-item,
.nl-skills .nl-backend-skill-item .nl-details-list .nl-detail-item .nl-subdetails-list .nl-subdetail-item {
  text-align: left;
  list-style: square;
}
.nl-skills .nl-tools-skill-item .nl-details-list .nl-detail-item {
  font-style: italic;
  font-size: 0.9em;
  margin: 0 0 0.2em;
}
.nl-skills .nl-infographics-skill-item .nl-details-list .nl-detail-item {
  display: inline-block;
  margin: 0 1em 0.5em 0;
}
.nl-skills .nl-infographics-skill-item .nl-details-list .nl-detail-item:last-child {
  margin-right: 0;
}
.nl-skills .nl-infographics-skill-item .nl-details-list .nl-detail-item h4 {
  font-size: 0.9em;
}
.nl-skills .nl-languages-skill-item:before {
  content: "*";
  display: inline-block;
  margin: 0 0 1em;
}
.nl-skills .nl-languages-skill-item h3 {
  color: #b804a0;
  text-transform: none;
  font-size: 1.3em;
  font-style: italic;
}
.nl-skills .nl-languages-skill-item .nl-details-list .nl-detail-item {
  font-style: italic;
}
.nl-skills .nl-languages-skill-item .nl-details-list .nl-detail-item h4 {
  font-size: 0.9em;
  font-weight: bold;
}
.nl-skills .nl-frontend-skill-item,
.nl-skills .nl-backend-skill-item,
.nl-skills .nl-tools-skill-item,
.nl-skills .nl-infographics-skill-item {
  padding: 0.5em 0;
  position: relative;
}
.nl-skills .nl-frontend-skill-item h3:before,
.nl-skills .nl-backend-skill-item h3:before,
.nl-skills .nl-tools-skill-item h3:before,
.nl-skills .nl-infographics-skill-item h3:before {
  content: "/ ";
}
.nl-skills .nl-frontend-skill-item h3:after,
.nl-skills .nl-backend-skill-item h3:after,
.nl-skills .nl-tools-skill-item h3:after,
.nl-skills .nl-infographics-skill-item h3:after {
  content: "  ";
}
.nl-skills .nl-frontend-skill-item h3:before, .nl-skills .nl-frontend-skill-item h3:after,
.nl-skills .nl-backend-skill-item h3:before,
.nl-skills .nl-backend-skill-item h3:after,
.nl-skills .nl-tools-skill-item h3:before,
.nl-skills .nl-tools-skill-item h3:after,
.nl-skills .nl-infographics-skill-item h3:before,
.nl-skills .nl-infographics-skill-item h3:after {
  font-weight: inherit;
}
.nl-skills .nl-frontend-skill-item:after,
.nl-skills .nl-backend-skill-item:after,
.nl-skills .nl-tools-skill-item:after,
.nl-skills .nl-infographics-skill-item:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 10px;
  right: 10px;
  border-radius: 50px 0 0px 0px;
  background: linear-gradient(170deg, rgba(184, 4, 160, 0.02) 0%, rgba(184, 4, 160, 0.05) 50%, transparent 80%);
  filter: blur(5px);
}
@media (max-width: 992px) {
  .nl-skills .nl-infographics-skill-item .nl-details-list .nl-detail-item {
    display: block;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .nl-skills {
    margin-bottom: 3em;
  }
  .nl-skills .nl-frontend-skill-item .nl-details-list .nl-detail-item h4,
.nl-skills .nl-backend-skill-item .nl-details-list .nl-detail-item h4 {
    text-align: center;
  }
  .nl-skills .nl-frontend-skill-item .nl-details-list .nl-detail-item .nl-subdetails-list .nl-subdetail-item,
.nl-skills .nl-backend-skill-item .nl-details-list .nl-detail-item .nl-subdetails-list .nl-subdetail-item {
    text-align: center;
    list-style: none;
  }
}

.nl-volunteering {
  margin: 0;
}
.nl-volunteering h2 {
  text-align: left;
  margin: 0 0 0.5em;
  font-size: 1.8em;
  color: #b804a0;
  font-style: italic;
}
.nl-volunteering .nl-volunteering-item h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
.nl-volunteering .nl-volunteering-item .nl-details-list {
  color: black;
  font-size: 0.9em;
  font-style: italic;
  padding: 0;
  margin: 0 0 15px;
}

.nl-extra-skills {
  margin: 2em 0 0;
}
.nl-extra-skills h3 {
  font-size: 1em;
  font-weight: bold;
  color: #b804a0;
  margin: 0 0 5px;
}
.nl-extra-skills .nl-details-list {
  padding: 0 0 0 10px;
}
.nl-extra-skills .nl-details-list .nl-detail-item {
  font-size: 0.95em;
  line-height: 1em;
  margin: 0 0 0.6em;
  position: relative;
  color: black;
}
.nl-extra-skills .nl-details-list .nl-detail-item:before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  left: -10px;
  top: 6px;
  display: inline-block;
  background: #b804a0;
}
.nl-extra-skills .nl-details-list .nl-detail-item .nl-subdetails-list {
  padding: 5px 0 0 10px;
}
.nl-extra-skills .nl-details-list .nl-detail-item .nl-subdetails-list .nl-subdetail-item {
  position: relative;
  font-size: 0.9em;
  margin: 0 0 2px;
  font-style: italic;
  olor: gray;
}

.nl-cv-type-web .nl-hobbies {
  margin: -220px 0 0;
}
.nl-cv-type-web .nl-extra-skills {
  margin: 100px 0 0;
}

/*# sourceMappingURL=main.css.map */
