.nl-professional-experiences,
.nl-education {
  h2 {
    font-size: 2.2em;
    color: rgba($special-color-3, 1);
    font-style: italic;
    margin: 0 0 0.5em;
    line-height: 0.9em;
   }

  .nl-experience-list,
  .nl-education-list {
    padding: 0;
    margin: 0 0 0;

    .nl-education-item,
    .nl-experience-item {
      position: relative;
      margin: 0 0 10px;
      line-height: 1.1em;
      color: rgba($base-text-color, 1);
      //filter: blur(5px);

      .nl-date {
        font-weight: lighter;
        font-size: 0.9em;
        margin: 0 0 2px;
        color: $page-color;
        background: rgba($special-color-3, 1);
        display: inline-block;
        padding: 0 1px;

        // &::before {
        //   content: ">";
        //   margin: 0 5px 0 0;
        //   font-weight: lighter;
        //   color: $base-text-color;
        // }
      }

      h3 {
        font-size: 0.9em;
        font-weight: bold;
        margin: 0 0 0.5em;
      }

      .nl-details-list {
        padding: 0;
        font-style: italic;

        .nl-detail-item {
          margin: 0 0 5px;
          font-size: 0.9em;
          // list-style: circle;
        }
      }

      .nl-location,
      .nl-school,
      .nl-company {
        color: rgba($base-text-color, 1);
        font-size: 0.9em;
        font-style: italic;
      }

      .nl-location {
        font-size: 0.8em;
        margin: 0;

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }
      }
    }
  }

  .nl-experience-list .nl-experience-item {
    h3 {
      font-size: 1em;
    }
  }

  @media (max-width: $small-screen) {
    .nl-experience-list .nl-experience-item,
    .nl-education-list .nl-education-item {
      .nl-details-list {
        margin: 0 0 1.5em;
      }

      .nl-location,
      .nl-school,
      .nl-company {
        font-size: 0.8em;
        margin: 0 0 1em;
      }
    }
  }
}
