.nl-hobbies {
  position: relative;
  margin: 5em 0 0;

  &:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 10px;
    right: 10px;
    // transform: rotate(-3deg);
    @include nl-wave($special-background-color-2);
  }

  h2 {
    line-height: 1em;
    font-size: 1.6em;
    margin: 0 0 0.5em;
    letter-spacing: 3px;
    color: rgba($special-color-2, 1);
    font-style: italic;
    //transform: translate(0, -20px);
    //filter: blur(1px);
    //text-shadow: 0px 3px 0px rgba($special-color-2, 0.30), 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1),
    //  0px 34px 30px rgba(0, 0, 0, 0.1);
  }

  .nl-hobby-item {
    line-height: 1.1em;
    //@include nl-panel($special-background-color-3);

    h3 {
      font-size: 0.9em;
      font-weight: bold;
      margin: 0 0 0.2em;
      color: $special-color;

      &:before {
        content: "› ";
        font-size: 1em;
        font-weight: bold;
      }
    }

    .nl-details-list {
      padding: 0 0 0 1em;

      .nl-detail-item {
        h4 {
          font-size: 0.9em;
          margin: 0 0 0.2em;
          font-style: italic;
        }
      }
    }
  }
}
