body {
  background: $background-color;
}

.nl-outer-container {
  // width: $page-width;
  // height: $page-height;
  display: block;
  margin: 3em auto;
  //box-sizing: border-box;
  text-align: left;
  font-family: $base-font-family;
  background: $page-color;
  font-size: $base-font-size;
  background: $background-color;

  .no-padding {
    padding: 0;
  }

  .container {
    max-width: 1200px;
    padding: 0;
    margin: auto;
  }

  .nl-inner-container {
    padding: 2em 50px;
    background: $page-color;
    overflow: hidden;
    box-shadow: 20px 0px 20px rgba(black, 0.2), -20px 0px 20px rgba(black, 0.1);
    color: $base-text-color;

    a {
      color: $base-text-color;
    }

    li {
      list-style: none;
    }
  }
}

@media print {
  body,
  .nl-outer-container .nl-inner-container {
    background: $page-color;
  }

  .nl-outer-container .nl-inner-container {
    font-size: $print-font-size;
    box-shadow: none;
  }

  .nl-outer-container {
    margin: 0 auto;
  }
}

@media (max-width: $medium-screen) {
  .nl-outer-container {
    margin: 0 auto;
  }
}
