 .nl-volunteering {
    margin: 0;

  h2 {
    text-align: left;
    margin: 0 0 0.5em;
    font-size: 1.8em;
    color: rgba($special-color-2, 1);
    font-style: italic;
  }

  .nl-volunteering-item {
    h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }

    .nl-details-list {
        color: rgba($base-text-color, 1);
        font-size: 0.9em;
        font-style: italic;
        padding: 0;
        margin: 0 0 15px;
    }
  }
  
}