#nl-cv .nl-skills {
  margin: 3em 0 0;

  h2 {
    text-align: center;
    margin: 0 0 1em;
    font-size: 2em;
    color: rgba($special-color-3, 1);
    font-style: italic;
    // filter: blur(1px);
    //text-shadow: 5px 5px 5px rgba($special-color-3, 0.3);
    //text-shadow: 2px 2px 2px rgba($special-color-3, 0.2), -1px -1px 2px transparent;
    filter: blur(1px);
    //text-shadow: 0px 3px 0px rgba($special-color-3, 0.3), 0px 14px 10px rgba(0, 0, 0, 0.15),
      //0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  }

  .nl-skill-item {
    line-height: 1.1em;
    margin: 0 0 1em;
    //border-left: $special-color-2 solid 1px;
    //padding: 0 0 0 1em;
    // @include nl-panel($special-background-color-2);
    text-align: center;
    //background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(231,56,39,0.05) 100%);

    h3 {
      font-size: 1.1em;
      padding: 0;
      margin: 0 0 0.5em;
      text-transform: uppercase;
      font-weight: bold;
      color: $special-color-3;
      //border-bottom: 1px solid $special-color-2;
      //background: rgba($special-color-2, 0.3);
    }

    .nl-details-list {
      padding: 0;
      position: relative;

      .nl-detail-item {
        padding: 0;
        margin: 0 0 0.6em;

        // &:before {
        //   content: "\002B28";
        //   position: absolute;
        //   font-style: normal;
        //   top: -2px;
        //   left: 0;
        // }

        h4 {
          font-size: 1em;
          margin: 0;
          //color: rgba($special-color-2, 1);
        }

        .nl-subdetails-list {
          padding: 0;
          margin: 0;

          .nl-subdetail-item {
            font-style: italic;
            position: relative;
            // padding: 0 0 0 1.5em;
            font-size: 0.8em;

            // &:before {
            //   //content: "\0025B4";
            //   content: "—";
            //   position: absolute;
            //   font-style: normal;
            //   //top: -2px;
            //   left: 0;
            // }
          }
        }
      }
    }
  }

  .nl-frontend-skill-item,
  .nl-backend-skill-item {
    .nl-details-list .nl-detail-item {
      h4 {
        font-weight: bold;
        color: rgba($base-text-color, 0.3);
        text-align: right;
      }

      .nl-subdetails-list .nl-subdetail-item {
        text-align: left;
        list-style: square;
      }
    }
  }

  .nl-tools-skill-item {
    .nl-details-list .nl-detail-item {
      font-style: italic;
      font-size: 0.9em;
      margin: 0 0 0.2em;
    }
  }

  .nl-infographics-skill-item {
    .nl-details-list .nl-detail-item {
      display: inline-block;
      margin: 0 1em 0.5em 0;

      &:last-child {
        margin-right: 0;
      }

      h4 {
        font-size: 0.9em;
      }
    }
  }

  .nl-languages-skill-item {
    &:before {
      content: "*";
      display: inline-block;
      margin: 0 0 1em;
    }

    h3 {
      color: $special-color;
      text-transform: none;
      font-size: 1.3em;
      font-style: italic;
    }

    .nl-details-list .nl-detail-item {
      font-style: italic;

      h4 {
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }

  .nl-frontend-skill-item,
  .nl-backend-skill-item,
  .nl-tools-skill-item,
  .nl-infographics-skill-item {
    padding: 0.5em 0;
    position: relative;

    h3 {
      @include nl-around-title-2();
    }

    &:after {
      content: "";
      z-index: 1;
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: 10px;
      right: 10px;
      @include nl-wave($special-background-color-3);
    }
  }

  @media (max-width: $large-screen) {
    .nl-infographics-skill-item {
      .nl-details-list .nl-detail-item {
        display: block;
        margin-right: 0;
      }
    }
  }

  @media (max-width: $medium-screen) {
    margin-bottom: 3em;

    .nl-frontend-skill-item,
    .nl-backend-skill-item {
      .nl-details-list .nl-detail-item {
        h4 {
          text-align: center;
        }

        .nl-subdetails-list .nl-subdetail-item {
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}
