// COULEURS TERNES
// $page-color: rgb(255, 255, 255);
// $title-color: rgb(255, 255, 255);
// $header-color: rgb(185, 10, 10);
// $base-text-color: #000;
// $special-color: rgb(188, 178, 211);
// $special-color-2: rgb(153, 56, 113);
// $special-color-3: rgb(167, 168, 63);
// $special-background-color: $special-color-3;
// $special-background-color-2: $special-color-3;
// $special-background-color-3: rgb(241, 171, 212);
// $strip-background-color: rgb(168, 107, 83);
// $background-color: rgb(168, 107, 83);

// COULEURS NOIR ET BLANC
// $page-color: rgb(255, 255, 255);
// $title-color: rgb(255, 255, 255);
// $header-color: rgb(53, 53, 53);
// $base-text-color: rgb(8, 8, 8);
// $special-color: rgb(58, 58, 58);
// $special-color-2: rgb(7, 7, 7);
// $special-color-3: rgb(0, 0, 0);
// $special-background-color: $special-color-3;
// $special-background-color-2: rgb(77, 77, 77);
// $special-background-color-3: rgb(138, 137, 137);
// $strip-background-color: rgb(129, 129, 129);
// $background-color: rgb(190, 190, 190);

// COULEURS VIVES
// $page-color: rgb(255, 255, 255);
// $title-color: rgb(250, 248, 131);
// $header-color: rgb(185, 10, 10);
// $base-text-color: rgb(0, 0, 0);
// $special-color: rgb(223, 63, 63);
// $special-color-2: rgb(255, 5, 5);
// $special-color-3: rgb(255, 0, 34);
// $special-background-color: $special-color-3;
// $special-background-color-2: rgb(66, 66, 66);
// $special-background-color-3: rgb(126, 126, 126);
// $strip-background-color: rgb(129, 129, 129);
// $background-color: rgb(235, 235, 235);

// COULEURS AUTRE
// $page-color: rgb(255, 255, 255);
// $base-text-color: rgb(0, 0, 0);
// $title-color: rgb(255, 255, 255);
// $header-color: rgb(150, 13, 155);
// $special-color: rgb(150, 13, 155);
// $special-color-2: rgb(223, 131, 25);
// $special-color-3: rgb(223, 131, 25);
// $special-background-color: $special-color-3;
// $special-background-color-2: rgb(203, 81, 207);
// $special-background-color-3: rgb(233, 135, 236);
// $strip-background-color: rgb(129, 129, 129);
// $background-color: rgb(190, 190, 190);

// $page-color: rgb(255, 255, 255);
// $base-text-color: rgb(0, 0, 0);
// $title-color: rgb(255, 255, 255);
// $header-color: rgb(41, 27, 235);
// $special-color: rgb(209, 97, 212);
// $special-color-2: rgb(41, 27, 235);
// $special-color-3: rgb(150, 13, 155);
// $special-background-color: $special-color-3;
// $special-background-color-2: rgb(203, 81, 207);
// $special-background-color-3: rgb(114, 105, 236);
// $strip-background-color: rgb(129, 129, 129);
// $background-color: rgb(190, 190, 190);

$page-color: rgb(255, 255, 255);
$base-text-color: rgb(0, 0, 0);
$title-color: rgb(255, 255, 255);
$header-color: rgb(19, 116, 129);
$special-color: rgb(219, 171, 13);
$special-color-2: rgb(0, 138, 156);
$special-color-3: rgb(65, 188, 204);
$special-background-color: $special-color-3;
$special-background-color-2: rgb(124, 219, 231);
$special-background-color-3: rgb(141, 207, 216);
$strip-background-color: rgb(129, 129, 129);
$background-color: rgb(190, 190, 190);

$base-font-family: Verdana, Geneva, Tahoma, sans-serif;
$special-font-family: "Lucida Console", Monaco, monospace;

$base-font-size: 18px;
$print-font-size: $base-font-size;

$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

$page-width: 827px;
$page-height: 1170px;

$images-path: "../images";
